USE [master]
GO
/****** Object:  Database [HackathonRelated]    Script Date: 5/14/2013 7:29:10 PM ******/
CREATE DATABASE [HackathonRelated]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HackathonRelated', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HackathonRelated.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HackathonRelated_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HackathonRelated_log.ldf' , SIZE = 26816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HackathonRelated].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HackathonRelated]
GO
/****** Object:  Table [dbo].[HOUSE$]    Script Date: 5/14/2013 7:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOUSE$](
	[HOUSEHOLD_NUM] [int] NOT NULL,
	[HOUSE_LATITUDE] [float] NOT NULL,
	[HOUSE_LONGITUDE] [float] NOT NULL,
 CONSTRAINT [PK_HOUSE$] PRIMARY KEY CLUSTERED 
(
	[HOUSEHOLD_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].['store-data$']    Script Date: 5/14/2013 7:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['store-data$'](
	[STORE] [int] NOT NULL,
	[LONGITUDE] [float] NOT NULL,
	[LATITUDE] [float] NOT NULL,
 CONSTRAINT [PK_'store-data$'] PRIMARY KEY CLUSTERED 
(
	[STORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transaction$]    Script Date: 5/14/2013 7:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction$](
	[Transaction_ID] [int] NOT NULL,
	[HOUSEHOLD_NUM] [int] NOT NULL,
	[SEG_ID] [int] NULL,
	[STORE] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
	[NET_SALES] [money] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
 CONSTRAINT [PK_Transaction$] PRIMARY KEY CLUSTERED 
(
	[Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
