<!DOCTYPE html>
<html>
    <head>
        <title>Charlotte Hackathon - Team Dubmen</title>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.0.js")"></script>
    </head>
    <body>
        @RenderBody()
        <p>Copyright 2012 Dubmen Designs</p>
    </body>
</html>


