@{
    ViewBag.Title = "Total Sales per Household";
}

<h2>Total Sales per Household</h2>
<div id="graph"></div>
@section styles{
    <link href="@Url.Content("~/Styles/hackathon.sales-per-household.css")" rel="stylesheet" media="screen">
}
<script type="text/javascript" src ="@Url.Content("~/Scripts/hackathon.sales-per-household.js")"></script>
