<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hackathon.Properties.Settings.HarrisTeeterDBConnectionString"
            connectionString="Data Source=|DataDirectory|\HarrisTeeterDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>