@{
    ViewBag.Title = "Index";
}
@section styles{
    <link href="@Url.Content("~/Styles/hackathon.purchases-by-time.css")" rel="stylesheet" media="screen">
}

<h2>Purchases By Time</h2>
<div class="container">
    <div class="well">
        <select id="filter-selector"></select>
        <select id="filter-choice-selector"></select>
        <button class="btn btn-success" id="addFilter">
            <i class="icon-plus icon-white"></i> Add Filter
        </button>
        <div id="filters"></div>
        <button id="execute-button" class="btn btn-primary pull-right"><i class="icon-white icon-forward"></i> Execute</button>
        <div class="clearfix"></div>
    </div>
</div>
<div id="graph" data-purchasesOverTime="@ViewBag.data"></div>
<script type="text/javascript" src="@Url.Content("~/Scripts/hackathon.purchases-by-time.js")"></script>
